<p>plane-requests-history works!</p>
<div class="section-container">
  <h2>
    Flight History
  </h2>
  <table class="table table-inverse table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Flight Code</th>
        <th>Request type</th>
        <th>Time for request</th>
        <th>Creation time of request</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td>{{request.id}}</td>
        <td>{{request.flightCode}}</td>
        <td>{{request.requestType}}</td>
        <td>{{request.timeForRequest | date :"medium"}}</td>
        <td>{{request.timeOfRequestCreation | date :"medium"}}</td>
        <td>{{request.aproved}}</td>
      </tr>
    </tbody>
  </table>
</div>
