<div *ngIf="alert" class="alert alert-success alert-dismissable fade show" role="alert">
  <strong> Success!</strong> Flight request created successfully.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1 style="padding-bottom: 20px">Create flight request</h1>

<div>
  <div class="row">
    <div class="col-sm-12">
      <label style="padding-right: 5px;">Flight Code: </label>
      <input id="flightCode" [(ngModel)]="flight.flightCode" placeholder="FlightCode" />
    </div>

    <div class="col-sm-4" style="margin-left: auto; margin-right: auto;">
      <select class="form-control" id="tipoRequestSelector">
        <option value="" disabled selected>Select Request Type</option>
        <option *ngFor="let element of types">
          <p> {{element.type}}</p>
        </option>
      </select>
    </div>

    <div class="col-sm-12" ng-controller="myCtrl">
      <p>Current Date {{ CurrentDate | date:'dd/MM/yyyy'}}</p>
    </div>

    <div class="col-sm-4" style="margin-left: auto; margin-right: auto;">
      <div class="timepicker">
        <div style="padding-top: 30px">Both Hours and Minutes have to be filled !</div>
        <ngb-timepicker class="custom-tp" [(ngModel)]="time"></ngb-timepicker>
        <hr>
        <pre>Selected time: {{time | json}}</pre>
      </div>
    </div>
  </div>


  <div>
    <button (click)="addRequest()">Create</button>
  </div>
</div>
